body {
  padding: 20px;
}

.watchlist {
  position: absolute;
  right: 10px;
  top: 2em;
  text-align: right;
}

.watchlist-content {
  display: none;
}

.watchlist-content.active {
  display: block;
}

.watchlist-content ul li {
  height: 1.3em;
  border-bottom: darkgray 1px;
}

.watchlist span {
  margin: 0 2px;
}

.watchlist .status-away {
  background-color: #C45F00;
  border-color: #ff8512;
}

.watchlist .status-online {
  background-color: #309630;
  border-color: #4dc64d;
}

.watchlist .status-offline {
  background-color: #d9534f;
  border-color: #e7908e;
}